@font-face {
  font-family: 'pluto-sans-cond-regular';
  src: url('../fonts/pluto-sans-cond-regular.woff2') format('woff2'), url('../fonts/pluto-sans-cond-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pluto-oreo';
  src: url('../fonts/pluto-oreo-black.woff2') format('woff2'), url('../fonts/pluto-oreo-black.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'inter-semibold';
  src: url('../fonts/inter-semibold.woff2') format('woff2'), url('../fonts/inter-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
