.burger {
  display: none;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  z-index: 20;
  transition: box-shadow 0.3s, background 0.3s;
  background: rgba(1, 80, 233, 0);

  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
  }

  &.fix {
    background: rgba(1, 80, 233, 0.9);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
  }
}

.logo {
  position: relative;
  width: 206px;
  z-index: 2;
  img {
    width: 100%;
    pointer-events: none;
  }
}

.navigation {
  display: inline-flex;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.menu {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 22px;

  li {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;

    .menu__link {
      display: block;
      cursor: pointer;
      font-size: 21px;
      font-family: var(--oreo);
      line-height: 1;
      padding: 6px 14px 5px 14px;
      border-radius: 50px;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.3s, color 0.3s;
      text-transform: uppercase;

      &.active {
        background-color: var(--red);
        &:hover {
          color: var(--white);
        }
      }

      @media (hover: hover) {
        &:hover {
          color: var(--red);
        }
      }
    }

    @media (min-width: 1240px) {
      &:last-child {
        .menu__link {
          padding-right: 0px;
        }
      }
    }
  }
}

/* MOBIL VERSION*/
@media (max-width: 1239px) {
  .header {
    height: 80px;
    .container {
      justify-content: space-between;
      max-width: 100%;
      padding: 0px 24px;
    }
  }

  .logo {
    width: 130px;
  }

  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40px;
    height: 40px;
    font-size: 0px;
    z-index: 2;
    span,
    &:before,
    &:after {
      width: 100%;
      position: absolute;
      height: 4px;
      border-radius: 2px;
      background: var(--white);
      transition: 0.6s;
      opacity: 1;
      z-index: 1;
    }

    &:before,
    &:after {
      content: '';
    }

    span {
      transform: translate(0px, 0px);
    }
    &:before {
      transform: translate(0px, -9px) rotate(0deg);
    }
    &:after {
      transform: translate(0px, 9px) rotate(0deg);
    }

    &.open {
      span {
        transform: translate(20px, 0px);
        opacity: 0;
      }
      &:before {
        transform: translate(0px, 0px) rotate(45deg);
      }
      &:after {
        transform: translate(0px, 0px) rotate(-45deg);
      }
    }
  }

  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0px;
    right: 0px;
    background: var(--blue) url('../img/svg/menu-bg.svg') no-repeat center center/cover;
    transition: opacity 0.4s ease-in-out 0.3s;

    padding: 0px;
    z-index: 0;
    opacity: 0;
    pointer-events: none;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      display: none;
    }
    &.open {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.4s ease-in-out 0s;
      .menu {
        transform: translate(0%, 0%);
      }
    }
  }

  .menu {
    z-index: 2;
    padding: 70px 30px 40px 30px;
    transform: translate(0%, -100%);
    width: 100%;
    min-height: 100svh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    transition: 0.6s;
    li {
      .menu__link {
        text-transform: none;
        font-size: 32px;
        padding: 12px 40px 10px 40px;
      }
    }
  }
}
