.preloader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  left: 0px;
  top: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 9999;
  background: var(--blue) url('../img/svg/preloader-bg.svg') no-repeat center center;
  background-size: 120svw 120svw;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s ease-in-out 0s, visibility 1.5s ease-in-out 0s, transform 1.5s ease-in-out 0s;
  transform: scale(1);

  img {
    position: relative;
    width: 36svw;
    height: 36svw;
    opacity: 1;
    animation: rotate 5s linear infinite;
  }
}

.loaded {
  .preloader {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(2);
  }
}
