.section--products {
  padding-bottom: 60px;
}

.product-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    filter: drop-shadow(0px 5px 25px rgba(255, 255, 255, 1));
  }
}

.product-text {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 70%;
  min-height: 30%;
  padding: 0px 10px 10px 20px;

  h2 {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  span {
    display: inline-block;
    position: absolute;
    right: 24px;
    bottom: 24px;
    font-family: var(--oreo);
    font-size: 15px;
  }

  @media (max-width: 1279px) {
    h2 {
      font-size: 20px;
    }
    span {
      right: 20px;
      bottom: 22px;
      font-size: 14px;
    }
  }
}

.section--product-slider {
  padding: 50px 0px;

  .swiper {
    overflow: visible;
  }

  .product-text {
    padding: 0px 20px 20px 40px;

    h2 {
      font-size: 34px;
    }

    span {
      right: 34px;
      bottom: 34px;
      font-size: 22px;
    }
  }

  .taste {
    width: 24%;
    height: 28%;
    right: 4.5%;
  }
}

.recipe {
  @media (hover: hover) {
    .taste {
      li {
        transition: transform 0.3s, opacity 0.3s;
        transform: translate(0px, 0%);
        opacity: 0;
        will-change: transform;
        &:nth-child(2) {
          transform: translate(0px, 0%);
        }
        &:nth-child(3) {
          transform: translate(0px, 0%);
        }
      }
    }
    &:hover {
      .taste {
        li {
          transform: translate(0px, 10%);
          opacity: 1;
          &:nth-child(2) {
            transform: translate(0px, 20%);
          }
          &:nth-child(3) {
            transform: translate(0px, 30%);
          }
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  .section--product-slider {
    .product-text {
      padding: 0px 20px 20px 30px;
      h2 {
        font-size: 28px;
      }
      span {
        right: 30px;
        bottom: 30px;
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .section--product-slider {
    .product-text {
      padding: 0px 20px 20px 20px;
      h2 {
        font-size: 20px;
      }
      span {
        right: 20px;
        bottom: 20px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 767px) {
  .section--product-slider {
    padding: 30px 0px;
    .swiper {
      max-width: 375px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
