.section--hero {
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 10px;
  }
}

.hero {
  width: 100%;
  height: auto;
  background: var(--blue-dark);
  border-radius: 50px;
  margin-top: 20px;
  video {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    outline: none;
    pointer-events: none;
    object-fit: cover;
  }
  @media (max-width: 1023px) {
    margin-top: 0px;
  }
  @media (max-width: 767px) {
    border-radius: 25px;
  }
}
