.section--recipes-single-hero {
  padding: 100px 0px 50px 0px;
  .container {
    z-index: 3;
  }
  &:before {
    top: 66%;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 1920px;
    height: 1920px;
    left: 0px;
    top: 0px;
    background: red;
    z-index: 1;
  }
}

.recipe-single {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 90px;

  .recipe-single__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 470px;
    height: 470px;
    background: url('../img/cookie.webp') no-repeat center center/cover;
    flex-shrink: 0;
    img {
      display: block;
      width: 80%;
      height: 80%;
      border-radius: 470px;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 194px;
      height: 116px;
      left: 100%;
      bottom: 0px;
      transform: translate(-30%, -20%);
      background: url('../img/svg/cap.svg') no-repeat center center/cover;
    }
  }

  .recipe-single__content {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex-shrink: 0;
    flex: 1;
    .title {
      text-transform: uppercase;
    }
    .time {
      position: relative;
      left: 0px;
      top: 0px;
      background: #ff337a;
      padding: 0px 14px 0px 14px;
      @media (max-width: 1279px) {
        padding: 0px 12px 0px 12px;
      }
      &:after {
        content: 'Время приготовления';
        font-family: var(--sans);
        order: -2;
      }
      &:before {
        order: -1;
      }
    }
  }
}
