.post {
  border-radius: 50px;
  padding: 40px 50px;
  color: var(--blue-dark);

  @media (max-width: 1439px) {
    border-radius: 40px;
    padding: 30px 40px;
  }

  @media (max-width: 767px) {
    border-radius: 30px;
    padding: 20px 24px;
  }
}

.section--postImage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 1980px;
  margin: -580px 0px;
  z-index: 0;
  background: url('../img/svg/menu-bg.svg') no-repeat center center;
  background-size: auto 100%;

  img {
    position: relative;
    height: 100%;
    width: auto;
    max-width: 9999px;
  }

  @media (max-width: 1439px) {
    height: 1280px;
    margin: -380px 0px;
  }

  @media (max-width: 1279px) {
    height: 1024px;
    margin: -300px 0px;
  }

  @media (max-width: 767px) {
    height: 700px;
    margin: -194px 0px;
  }
}
