.post {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  padding: 40px 50px;
  color: var(--blue-dark);

  @media (max-width: 1439px) {
    border-radius: 40px;
    padding: 30px 40px;
  }

  @media (max-width: 767px) {
    border-radius: 30px;
    padding: 24px 20px;
  }
}

.section--postImage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 1980px;
  margin: -580px 0px;
  z-index: 0;
  background: url('../img/svg/menu-bg.svg') no-repeat center center;
  background-size: auto 100%;

  img {
    position: relative;
    height: 100%;
    width: auto;
    max-width: 9999px;
  }

  @media (max-width: 1439px) {
    height: 1280px;
    margin: -380px 0px;
  }

  @media (max-width: 1279px) {
    height: 1024px;
    margin: -300px 0px;
  }

  @media (max-width: 767px) {
    height: 700px;
    margin: -194px 0px;
  }
}

.post-gram {
  display: block;
  width: 100%;
  span {
    background: var(--white);
    padding: 8px 20px;
    color: var(--red);
    border-radius: 50px;
    font-size: 30px;
    line-height: 1;
  }

  @media (max-width: 1279px) {
    margin-top: 10px;
  }

  @media (max-width: 1023px) {
    margin-top: 0px;
    display: inline-block;
    width: auto;
    position: relative;
    transform: translate(10%, -18%);
    span {
      padding: 4px 14px;
      font-size: 20px;
    }
  }

  @media (max-width: 767px) {
    span {
      padding: 3px 8px;
      font-size: 12px;
    }
  }
}

.post-description {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  margin-top: 25px;
  padding-right: 25px;
  &.va--c {
    align-items: center;
    align-content: center;
  }

  .text {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 25px;
    z-index: 2;

    .kakao {
      width: 200px;
      margin-top: 20px;
    }

    @media (max-width: 1279px) {
      font-size: 16px;
      .kakao {
        width: 120px;
        margin-top: 10px;
      }
    }
  }

  .swiper {
    width: 56%;
    flex-shrink: 0;
    transform: translate(0px, -78px);
    margin-bottom: -78px;
    overflow: visible;
    z-index: 1;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 80px;
      height: 80px;
      background: url('../img/svg/cap.svg') no-repeat center center/cover;
    }
    &:before {
      right: 100%;
      top: 100%;
      transform: translate(-14%, -113%) rotate(146deg);
    }
    &:after {
      left: 100%;
      bottom: 100%;
      transform: translate(-20%, 0%) rotate(-65deg);
    }
    .swiper-slide {
      position: relative;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease-out 0s;
      &.swiper-slide-active {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
      }
      img {
        position: relative;
        z-index: 2;
        width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        left: -15px;
        top: -15px;
        background: var(--white);
        border-radius: 40px;
        transform: translate(0%, 0%) scale(1);
        z-index: 0;
        filter: blur(10px);
      }
    }
  }

  @media (max-width: 1023px) {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 40px;
    padding-right: 0px;
    margin-top: 0px;

    .text {
      position: relative;
      width: 100%;
      min-height: 100px;
      flex: auto;
      flex-direction: column;
      gap: 20px;
      padding-right: 100px;
      padding-top: 20px;

      br {
        display: none;
      }

      .kakao {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100px;
        margin-top: 0px;
      }
    }

    .swiper {
      width: 80%;
      transform: translate(0px, 0px);
      margin-bottom: 0px;
      margin-top: 30px;
      &:before,
      &:after {
        width: 50px;
        height: 50px;
      }
      &:before {
        transform: translate(8%, -80%) rotate(110deg);
      }
      &:after {
        transform: translate(-14%, 16%) rotate(-65deg);
      }
      .swiper-slide {
        &:before {
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          left: -10px;
          top: -10px;
          border-radius: 30px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    gap: 10px;

    .text {
      padding-right: 115px;
    }

    .swiper {
      margin-top: 20px;
      &:before,
      &:after {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.harakteristics {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  margin-top: 60px;
  > p {
    width: 100%;
  }
  &.jc--space {
    justify-content: space-between;
    .harakteristic-item {
      &:nth-child(3) {
        max-width: 200px;
      }
    }
  }
  .title {
    width: 100%;
  }

  .harakteristic-item {
    display: flex;
    position: relative;
    width: calc((100% - 48px) / 3);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    &:nth-child(3) {
      max-width: 250px;
    }

    &.w-auto {
      max-width: 100%;
      width: auto;
      flex: 1;
    }

    img {
      height: 92px;
      &.icon {
        height: 68px;
      }
    }

    p {
      width: 100%;
    }

    strong {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: 50px;
      span {
        font-size: 30px;
      }
    }
  }

  @media (max-width: 1279px) {
    p {
      font-size: 16px;
    }
    .harakteristic-item {
      &:nth-child(3) {
        max-width: 200px;
      }
      p {
        font-size: 16px;
      }
      strong {
        font-size: 40px;
        span {
          font-size: 30px;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    margin-top: 40px;

    .title + .harakteristic-item {
      gap: 0px 10px;
    }

    .harakteristic-item {
      width: 100%;

      br {
        display: none;
      }

      &:nth-child(3) {
        max-width: 100%;
      }

      &.w-auto {
        width: 100%;
        flex: auto;
      }

      img {
        height: 80px;
        &.icon {
          height: 50px;
        }
      }
      strong {
        font-size: 40px;
        span {
          font-size: 30px;
        }
      }
    }
  }
}
