.section--recipes-hero {
  z-index: 1;
  padding-top: myclamp(100px, 140px, 1440px, 1440px);
  padding-bottom: 100px;
  background: url('../img/svg/circles.svg') no-repeat center center;
  background-size: 1800px 1800px;
  @media (max-width: 1023px) {
    background-size: 1000px 1000px;
  }
  .title {
    position: relative;
    z-index: 4;
  }
  .swiper-oreo {
    &:before {
      content: none;
    }
  }
  &:before {
    top: 50%;
  }
}

.section--recipes-footer {
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 90px;
  &:before {
    bottom: 50%;
  }
  &.blue-circle {
    padding-top: myclamp(220px, 350px, 1440px, 1440px);
    padding-bottom: myclamp(20px, 90px, 1440px, 1440px);
  }
}

.blue-circle {
  &:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 10000px;
    height: 10000px;
    background: var(--blue-light);
    border-radius: 5000px;
  }
}

.section--recipes-list {
  background: var(--blue-light);
  z-index: 2;
  margin: -50px 0px;
  &.no-margin {
    margin: 0px 0px;
    padding: 50px 0px 100px 0px;
  }
}

.recipes {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px 14px;

  li {
    width: calc((100% - 28px) / 3);
  }
}

.recipe {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.recipe-thumbnail {
  display: block;
  position: relative;
  width: 100%;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 86.1992%;
  }

  .recipe-image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translate(1);
    transition: transform 0.5s ease-out 0s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      position: relative;
      transform: scale(1);
      transition: transform 0.5s ease-out 0s;
    }

    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.time {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
  border-radius: 30px;
  height: 34px;
  border: 2px solid var(--white);
  background: var(--grey-dark);
  font-family: var(--oreo);
  font-size: 16px;
  padding: 0px 14px 0px 8px;
  gap: 10px;
  &:before {
    content: '';
    display: block;
    position: relative;
    top: -2px;
    width: 20px;
    height: 23px;
    background: url('../img/svg/time.svg') no-repeat center center/cover;
  }
}

.taste {
  position: absolute;
  right: 5%;
  bottom: 0px;
  width: 94px;
  height: 94px;
  z-index: 2;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
    background: url('../img/taste/0.webp') no-repeat center center/cover;
  }
  li {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    left: 0px;
    top: 0px;
    transform: translate(0px, 10px);
    &:nth-child(2) {
      transform: translate(0px, 20px);
      z-index: 8;
    }
    &:nth-child(3) {
      transform: translate(0px, 30px);
      z-index: 7;
    }
    img {
      width: 100%;
    }
  }
}

.recipe-title {
  display: block;
  > * {
    font-size: 20px;
    line-height: 1.2;
  }
}

.figure {
  /* WebKit (Safari, Chrome) */
  -webkit-mask-image: url('../img/svg/mask.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  /* Standard */
  mask-image: url('../img/svg/mask.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

@media (max-width: 1279px) {
  .taste {
    width: 76px;
    height: 76px;
    li {
      transform: translate(0px, 8px);
      &:nth-child(2) {
        transform: translate(0px, 16px);
      }
      &:nth-child(3) {
        transform: translate(0px, 24px);
      }
    }
  }

  .time {
    left: 16px;
    top: 14px;
    height: 28px;
    font-size: 14px;
    padding: 0px 12px 0px 6px;
    gap: 6px;
    &:before {
      top: -1px;
      width: 16px;
      height: 18px;
    }
  }

  .recipe-title {
    > * {
      font-size: 18px;
    }
  }

  .section--recipes-hero {
    background-size: 1600px 1600px;
    &:before {
      top: 46%;
    }
    .swiper-oreo {
      width: 360px;
      height: 360px;
      margin: 10px auto 84px auto;
      .recipe-title {
        margin-top: 20px;
        font-size: 20px;
        padding: 14px 20px;
      }
    }
  }

  .blue-circle {
    &:before {
      width: 3000px;
      height: 3000px;
    }
  }

  .recipes {
    max-width: 1024px;
    margin: 0 auto;
  }

  .section--recipes-footer {
    &.blue-circle {
      padding-top: 260px;
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 1023px) {
  .section--recipes-hero {
    background-size: 800px 800px;
    background-position: center -80px;
  }
  .recipes {
    max-width: 668px;
    > li {
      width: calc((100% - 14px) / 2);
    }
  }
}

@media (max-width: 767px) {
  .section--recipes-hero {
    background-size: 760px 760px;
    background-position: center -90px;
    &:before {
      top: 44%;
    }
    .swiper-oreo {
      width: 280px;
      height: 280px;
    }
  }

  .recipes {
    max-width: 326px;
    > li {
      width: 100%;
    }
  }

  .section--recipes-footer {
    padding-top: 40px;
    padding-bottom: 20px;
    &.blue-circle {
      padding-top: 220px;
      padding-bottom: 40px;
    }
  }

  .blue-circle:before {
    width: 2000px;
    height: 2000px;
  }
}
