.section--banner {
  padding: 40px 0px;
  @media (max-width: 1023px) {
    padding: 20px 0px;
  }
}

.banner {
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 170px;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 20px 80px;
  background: url('../img/banner.webp') no-repeat right center/cover;
  .button {
    display: none;
  }

  @media (max-width: 1279px) {
    padding: 20px 40px;
  }

  @media (max-width: 1023px) {
    height: 130px;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    height: 156px;
    border-radius: 25px;
    background: url('../img/banner-mobil.webp') no-repeat center bottom/cover;
    .title {
      font-size: 24px;
      line-height: 1.2;
    }
    .button {
      display: inline-flex;
      height: 32px;
      min-height: 32px;
      span {
        font-size: 15px;
      }
    }
  }
}
