.section--brends {
  padding: myclamp(35px, 60px, 1440px, 1440px) 0px;
}

.brends {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  gap: 24px;
  li {
    flex: 1;
    min-width: 180px;
    max-width: 210px;

    a {
      display: flex;
      flex-direction: column;
      width: 100%;
      background: #fafafa;
      border-radius: 20px;
      padding: 10px;
      gap: 10px;
      overflow: hidden;
      z-index: 1;
      transition: background 0.3s;

      .brend-link-text {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 30px;
        padding-right: 40px;
        color: var(--grey);
        font-family: var(--inter);
        font-size: 10px;
        line-height: 30px;
        text-transform: uppercase;
        transition: color 0.3s;
        &:before {
          content: '';
          width: 30px;
          height: 30px;
          position: absolute;
          right: 0px;
          top: 0px;
          flex-shrink: 0;
          background: url('../img/svg/link-arrow.svg') no-repeat center center/cover;
        }
      }

      .brend {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 70px;
        background: var(--white);
        border-radius: 20px;
        overflow: hidden;
        z-index: 1;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      @media (hover: hover) {
        &:hover {
          background: var(--blue-light);
          .brend-link-text {
            color: var(--white);
          }
        }
      }
    }
  }
}

@media (max-width: 549px) {
  .brends {
    gap: 20px;
    li {
      min-width: 150px;

      a {
        border-radius: 16px;
        padding: 8px;
        gap: 8px;

        .brend-link-text {
          height: 24px;
          padding-right: 30px;
          font-size: 8.28px;
          line-height: 24px;
          &:before {
            width: 24px;
            height: 24px;
          }
        }

        .brend {
          height: 58px;
          border-radius: 18px;
        }
      }
    }
  }
}
