.section--heroImages {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  pointer-events: none;
  z-index: 1;
  //max-width: 1440px;
  margin: 0 auto;
  margin-bottom: -514px;
  margin-top: -22%;
  @media (max-width: 1279px) {
    margin-bottom: -450px;
  }
  @media (max-width: 1023px) {
    margin-bottom: -320px;
  }
  @media (max-width: 767px) {
    margin-bottom: -190px;
  }

  .hero-image {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: opacity 0.6s;
    width: 100%;
    height: auto;
    opacity: 0;
    &.active {
      position: relative;
      opacity: 1;
    }
  }
}
