.section--heroImages {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  pointer-events: none;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: -24%;
  margin-top: -16%;
  @media (max-width: 1439px) {
    margin-bottom: -34%;
    margin-top: -22%;
  }
  @media (max-width: 1023px) {
    margin-bottom: -36%;
  }
  @media (max-width: 767px) {
    margin-bottom: -46%;
  }
  .hero-image {
    display: block;
    position: absolute;
    width: myclamp(600px, 2560px, 1440px, 1440px);
    height: auto;
    left: 0%;
    top: 0px;
    transition: opacity 0.6s;
    opacity: 0;
    transform: translate(0%, 0%);
    &.active {
      position: relative;
      opacity: 1;
    }
  }
}
