.section--recipes-single-hero {
  padding: 100px 0px 50px 0px;
  .container {
    z-index: 3;
  }
  &:before {
    top: 66%;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 1920px;
    height: 1920px;
    left: 50%;
    top: 50%;
    transform: translate(-69%, -49%);
    background: url('../img/svg/circles.svg') no-repeat center center/cover;
    z-index: 1;
  }
}

.recipe-single {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 90px;

  .recipe-single__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 470px;
    height: 470px;
    flex-shrink: 0;
    img {
      display: block;
      position: relative;
      z-index: 1;
      width: 80%;
      height: 80%;
      border-radius: 470px;
      &.cookies-bg {
        position: absolute;
        height: 100%;
        width: auto;
        top: 0px;
        border-radius: none;
        pointer-events: none;
        display: none;
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 194px;
      height: 116px;
      left: 100%;
      bottom: 0px;
      transform: translate(-30%, -20%);
      background: url('../img/svg/cap.svg') no-repeat center center/cover;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      width: 1950px;
      height: 810px;
      border-radius: 50%;
      background: url('../img/cookie.webp') no-repeat center center/470px 470px, radial-gradient(#44caf6 0%, rgba(0, 0, 0, 0) 45%);
      z-index: 0;
    }
  }

  .recipe-single__content {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex-shrink: 0;
    flex: 1;
    .title {
      text-transform: uppercase;
    }
    .time {
      position: relative;
      left: 0px;
      top: 0px;
      background: #ff337a;
      padding: 0px 14px 0px 14px;
      @media (max-width: 1279px) {
        padding: 0px 12px 0px 12px;
      }
      &:after {
        content: 'Время приготовления';
        font-family: var(--sans);
        order: -2;
      }
      &:before {
        order: -1;
      }
    }
  }
}

.section--recipes-single {
  background: var(--blue-light);
  color: var(--blue-dark);
}

.print-menu {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  margin-left: auto;
  li,
  a {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
  }
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    &:hover {
      p {
        opacity: 1;
      }
    }
  }
  p {
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  li {
    position: relative;
    &:first-child {
      padding-right: 20px;
      &:before {
        content: '';
        width: 1px;
        height: 20px;
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -12px;
        background: rgba(255, 255, 255, 0.5);
      }
    }
    &:last-child {
      padding-left: 19px;
    }
  }
}

.ingredients {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 45px 20px;
  margin-top: 60px;

  .ingredient {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 20px;

    &.col--4 {
      width: calc((100% - 60px) / 4);
    }
    &.col--2 {
      width: calc((100% - 20px) / 2);
    }

    .ingredient__image {
      width: 82px;
      height: 82px;
      border-radius: 82px;
      background: var(--grey-light);
      position: relative;
      overflow: hidden;
      flex-shrink: 0;
      img {
        width: 100%;
        height: 100%;
      }
    }

    p {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.steps {
  display: block;
  position: relative;
  margin: 50px 0px;

  ol {
    column-count: 2;
    column-gap: 100px;
    list-style: none;
    counter-reset: step;
    background: url('../img/svg/hr2.svg') repeat-y;
    background-position: center top;
  }
}

.step {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  counter-increment: step;
  padding-left: 100px;
  padding-top: 28px;
  margin: 40px 0px;
  position: relative;
  min-height: 80px;
  font-size: 20px;
  &:first-child {
    margin-top: 0px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
}

.step::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(step);
  position: absolute;
  left: 0;
  top: 0;

  width: 80px;
  height: 80px;
  border-radius: 80px;
  background: #fff;
  font-family: var(--oreo);
  color: var(--blue-dark);

  font-weight: 600;
  font-size: 40px;
}

@media (max-width: 1279px) {
  .section--recipes-single-hero {
    &:after {
      left: 0%;
      transform: translate(-36%, -49%);
    }
  }

  .ingredients {
    gap: 45px 20px;
    margin-top: 50px;

    .ingredient {
      gap: 16px;
      .ingredient__image {
        width: 80px;
        height: 80px;
      }
      p {
        font-size: 16px;
        b {
          font-size: 20px;
        }
      }
    }
  }

  .step {
    padding-left: 70px;
    padding-top: 18px;
    margin: 30px 0px;
    min-height: 50px;
    font-size: 16px;
  }

  .step::before {
    width: 50px;
    height: 50px;
    font-size: 22px;
  }
}

@media (max-width: 1023px) {
  .section--recipes-single-hero {
    padding: 80px 0px 30px 0px;

    &:before {
      top: 50%;
    }

    &:after {
      left: 50%;
      width: 1300px;
      height: 1300px;
      transform: translate(-50%, -53%);
    }
  }

  .recipe-single {
    flex-direction: column;
    gap: 24px;

    .recipe-single__image {
      width: 400px;
      height: 400px;
      img {
        &.cookies-bg {
          display: block;
        }
      }
      &:before {
        width: 114px;
        height: 68px;
        transform: translate(-30%, -20%);
      }
      &:after {
        background: url('../img/cookie.webp') no-repeat center center/400px 400px, radial-gradient(#44caf6 0%, rgba(0, 0, 0, 0) 45%);
      }
    }

    .recipe-single__content {
      align-items: center;
      text-align: center;

      .time {
        margin: 0 auto;
      }
    }
  }

  .section--recipes-single {
    padding-top: 40px;
  }

  .ingredients {
    gap: 20px 30px;
    margin-top: 40px;

    .ingredient {
      gap: 16px;
      &.col--4 {
        width: calc((100% - 30px) / 2);
      }
      &.col--2 {
        width: calc((100% - 30px) / 2);
      }
      br {
        &.hide-in-mobil {
          display: none;
        }
      }
    }
  }

  .steps ol {
    column-gap: 50px;
  }

  .step {
    padding-left: 70px;
    margin: 20px 0px;
  }
}

@media (max-width: 767px) {
  .section--recipes-single-hero {
    &:before {
      top: 240px;
    }

    &:after {
      top: 0px;
      width: 666px;
      height: 666px;
      transform: translate(-50%, -16%);
    }
  }

  .recipe-single {
    flex-direction: column;
    gap: 18px;

    .recipe-single__image {
      width: 300px;
      height: 300px;
      &:before {
        width: 70px;
        height: 42px;
        transform: translate(-60%, -20%);
      }
      &:after {
        width: 1024px;
        height: 320px;
        background: url('../img/cookie.webp') no-repeat center center/300px 300px, radial-gradient(#44caf6 0%, rgba(0, 0, 0, 0) 45%);
      }
    }

    .recipe-single__content {
      align-items: center;
      text-align: center;

      .time {
        margin: 0 auto;
      }
    }
  }

  .steps {
    margin-top: 30px;
    margin-bottom: 30px;
    ol {
      column-count: 1;
      column-gap: 0;
      background: none;
    }
  }

  .step {
    display: flex;
    padding-top: 0px;
    position: relative;
    min-height: 50px;
    align-items: flex-start;
    p {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      min-height: 50px;
    }
  }

  .print-menu {
    justify-content: center;
    margin-right: auto;
  }

  .ingredients {
    margin-top: 30px;
    .ingredient {
      &.col--4 {
        width: 100%;
      }
      &.col--2 {
        width: 100%;
      }
    }
  }
}
