.post {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  padding: 40px 50px;
  color: var(--blue-dark);

  @media (max-width: 1439px) {
    border-radius: 40px;
    padding: 30px 40px;
  }

  @media (max-width: 767px) {
    border-radius: 30px;
    padding: 20px 24px;
  }
}

.section--postImage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 1980px;
  margin: -580px 0px;
  z-index: 0;
  background: url('../img/svg/menu-bg.svg') no-repeat center center;
  background-size: auto 100%;

  img {
    position: relative;
    height: 100%;
    width: auto;
    max-width: 9999px;
  }

  @media (max-width: 1439px) {
    height: 1280px;
    margin: -380px 0px;
  }

  @media (max-width: 1279px) {
    height: 1024px;
    margin: -300px 0px;
  }

  @media (max-width: 767px) {
    height: 700px;
    margin: -194px 0px;
  }
}

.post-gram {
  display: block;
  width: 100%;
  span {
    background: var(--white);
    padding: 8px 20px;
    color: var(--red);
    border-radius: 50px;
    font-size: 30px;
    line-height: 1;
  }
}

.post-description {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px;
  margin-top: 25px;
  &.va--c {
    align-items: center;
    align-content: center;
  }

  .text {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 25px;

    .kakao {
      width: 200px;
      margin-top: 20px;
    }
  }

  .swiper {
    width: 56%;
    flex-shrink: 0;
    transform: translate(0px, -78px);
    margin-bottom: -78px;
    overflow: visible;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 80px;
      height: 80px;
      background: url('../img/svg/cap.svg') no-repeat center center/cover;
    }
    &:before {
      right: 100%;
      top: 100%;
      transform: translate(-14%, -113%) rotate(146deg);
    }
    &:after {
      left: 100%;
      bottom: 100%;
      transform: translate(-20%, 0%) rotate(-65deg);
    }
    .swiper-slide {
      position: relative;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s ease-out 0s;
      &.swiper-slide-active {
        opacity: 1;
        pointer-events: all;
        transform: scale(1);
      }
      img {
        position: relative;
        z-index: 2;
        width: 100%;
      }
      &:before {
        content: '';
        position: absolute;
        width: calc(100% + 30px);
        height: calc(100% + 30px);
        left: -15px;
        top: -15px;
        background: var(--white);
        border-radius: 20px;
        transform: translate(0%, 0%) scale(1);
        z-index: 0;
        filter: blur(10px);
      }
    }
  }
}

.harakteristics {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  margin-top: 60px;
  &.jc--space {
    justify-content: space-between;
    .harakteristic-item {
      &:nth-child(3) {
        max-width: 200px;
      }
    }
  }
  .title {
    width: 100%;
  }

  .harakteristic-item {
    display: flex;
    position: relative;
    width: calc((100% - 48px) / 3);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;

    &.w-auto {
      width: auto;
      flex: 1;
    }

    img {
      height: 92px;
      &.icon {
        height: 68px;
      }
    }

    p {
      width: 100%;
    }

    strong {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: 50px;
      span {
        font-size: 30px;
      }
    }
  }
}
