.section-title {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  background: var(--gradient);
  &.mb {
    margin-bottom: 60px;
  }
}

.title {
  display: block;
  width: 100%;
  font-size: myclamp(32px, 40px, 1440px, 1440px);
  line-height: 1.1;

  &.ta--c {
    text-align: center;
  }
}
