:root {
  --oreo: 'pluto-oreo', sans-serif;
  --sans: 'pluto-sans-cond-regular', sans-serif;
  --inter: 'inter-semibold', sans-serif;

  --white: #ffffff;
  --black: #323b42;
  --blue: #0150e9;
  --blue-dark: #0e14a5;
  --blue-light: #4dbcec;
  --blue-text: #0150ea;
  --red: #ff337a;
  --invalid: #ec1d2f;
  --grey: #adb1b3;
  --grey-dark: rgba(50, 59, 66, 0.8);
  --grey-light: #f4f4f4;

  --gradient: linear-gradient(4deg, rgba(255, 51, 224, 0) 0%, rgba(255, 40, 173, 1) 100%),
    linear-gradient(-8deg, rgba(255, 51, 122, 0) 0%, rgba(255, 174, 202, 1) 100%), var(--red);

  --gradient-invers: linear-gradient(4deg, rgba(255, 40, 173, 1) 0%, rgba(255, 51, 224, 0) 100%),
    linear-gradient(-8deg, rgba(255, 174, 202, 1) 0%, rgba(255, 51, 122, 0) 100%), var(--red);
}

@import 'preloader';
@import 'fonts';
@import 'mixins';
@import 'animations';
@import 'reset';
@import 'swiper';
@import 'typography';
@import 'buttons';
@import 'header';
@import 'section__hero';
@import 'section__banner';
@import 'section__products-navigation';
@import 'section__recipes-slider';
@import 'section__recipes';
@import 'section__recipe-single';
@import 'section__heroImages';
@import 'section__brends';
@import 'section__faq';
@import 'section__facts';
@import 'footer';
@import 'popup';
