@charset "UTF-8";
:root {
  --oreo: "pluto-oreo", sans-serif;
  --sans: "pluto-sans-cond-regular", sans-serif;
  --inter: "inter-semibold", sans-serif;
  --white: #ffffff;
  --black: #323b42;
  --blue: #0150e9;
  --blue-dark: #0e14a5;
  --blue-light: #4dbcec;
  --red: #ff337a;
  --invalid: #ec1d2f;
  --grey: #adb1b3;
}

.preloader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  left: 0px;
  top: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 9999;
  background: var(--blue) url("../img/svg/preloader-bg.svg") no-repeat center center;
  background-size: 120svw 120svw;
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  transition: opacity 1.5s ease-in-out 0s, visibility 1.5s ease-in-out 0s, transform 1.5s ease-in-out 0s;
  transform: scale(1);
}
.preloader img {
  position: relative;
  width: 36svw;
  height: 36svw;
  opacity: 1;
  animation: rotate 5s linear infinite;
}

.loaded .preloader {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: scale(2);
}

@font-face {
  font-family: "pluto-sans-cond-regular";
  src: url("../fonts/pluto-sans-cond-regular.woff2") format("woff2"), url("../fonts/pluto-sans-cond-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "pluto-oreo";
  src: url("../fonts/pluto-oreo-black.woff2") format("woff2"), url("../fonts/pluto-oreo-black.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "inter-semibold";
  src: url("../fonts/inter-semibold.woff2") format("woff2"), url("../fonts/inter-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Вращение по кругу */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--blue);
  color: var(--white);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--sans);
  font-optical-sizing: auto;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: inherit;
  font-family: var(--oreo);
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}
a.underline {
  text-decoration: underline;
}

button {
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}

ul,
menu {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  flex: 1;
}

.section {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px;
}
@media (max-width: 1256px) {
  .container {
    max-width: 100%;
    padding: 0px 28px;
  }
}

.burger {
  display: none;
}

.header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  z-index: 20;
}
.header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.logo {
  position: relative;
  width: 206px;
  z-index: 2;
}
.logo img {
  width: 100%;
  pointer-events: none;
}

.navigation {
  display: inline-flex;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.menu {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 22px;
}
.menu li {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.menu li .menu__link {
  display: block;
  cursor: pointer;
  font-size: 21px;
  font-family: var(--oreo);
  line-height: 1;
  padding: 6px 14px 5px 14px;
  border-radius: 50px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
  text-transform: uppercase;
}
.menu li .menu__link.active {
  background-color: var(--red);
}
@media (min-width: 1240px) {
  .menu li:last-child .menu__link {
    padding-right: 0px;
  }
}

/* MOBIL VERSION*/
@media (max-width: 1239px) {
  .header {
    height: 80px;
  }
  .header .container {
    justify-content: space-between;
    max-width: 100%;
    padding: 0px 24px;
  }
  .logo {
    width: 130px;
  }
  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40px;
    height: 40px;
    font-size: 0px;
    z-index: 2;
  }
  .burger span, .burger:before, .burger:after {
    width: 100%;
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: var(--white);
    transition: 0.6s;
    opacity: 1;
    z-index: 1;
  }
  .burger:before, .burger:after {
    content: "";
  }
  .burger span {
    transform: translate(0px, 0px);
  }
  .burger:before {
    transform: translate(0px, -9px) rotate(0deg);
  }
  .burger:after {
    transform: translate(0px, 9px) rotate(0deg);
  }
  .burger.open span {
    transform: translate(20px, 0px);
    opacity: 0;
  }
  .burger.open:before {
    transform: translate(0px, 0px) rotate(45deg);
  }
  .burger.open:after {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0px;
    right: 0px;
    background: var(--blue) url("../img/svg/menu-bg.svg") no-repeat center center/cover;
    transition: opacity 0.4s ease-in-out 0.3s;
    padding: 0px;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
  }
  .navigation::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
  .navigation.open {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.4s ease-in-out 0s;
  }
  .navigation.open .menu {
    transform: translate(0%, 0%);
  }
  .menu {
    z-index: 2;
    padding: 70px 30px 40px 30px;
    transform: translate(0%, -100%);
    width: 100%;
    max-width: 768px;
    min-height: 100svh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    transition: 0.6s;
  }
  .menu li .menu__link {
    text-transform: none;
    font-size: 32px;
    padding: 12px 40px 10px 40px;
  }
}
.footer {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 30px;
}
.footer .container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  gap: 40px;
  font-size: 10px;
}

.footer-menu,
.footer-logo {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 140px;
  gap: 10px;
}

.footer-copy {
  display: inline-flex;
  max-width: 550px;
  flex: 1;
  text-align: center;
  gap: 10px;
  flex-direction: column;
}
.footer-copy ul {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 31px;
}
.footer-copy ul:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 14px;
  background: var(--white);
  left: 50%;
  top: 1px;
}

@media (max-width: 1023px) {
  .footer-copy {
    max-width: 330px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-bottom: 40px;
    padding-top: 20px;
  }
  .footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    padding: 0px 20px;
  }
  .footer-menu,
  .footer-logo {
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 100%;
    gap: 14px;
    order: 1;
  }
  .footer-menu li:first-child a,
  .footer-logo li:first-child a {
    font-family: var(--oreo);
    font-size: 20px;
  }
  .footer-logo {
    order: 2;
  }
  .footer-copy {
    display: flex;
    width: 100%;
    flex: auto;
    text-align: center;
    gap: 20px;
    flex-direction: column;
    max-width: 100%;
    order: 3;
  }
  .footer-copy address {
    order: 2;
  }
  .footer-copy ul {
    flex-direction: column;
    gap: 14px;
    order: 1;
  }
  .footer-copy ul:before {
    content: none;
  }
}